/**
*
*	Name:			Abar Fonts
*	Version:			1.0
*	Author:			Reza Bakhtiarifard
*	Created on:		October 2023
*	Updated on:		October 2023
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ابر یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Abar fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/

@font-face {
	font-family: AbarLowFaNum;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('woff2/AbarLowFaNum-Regular.woff2') format('woff2');		 	 
}

@font-face {
	font-family: AbarLowFaNum;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('woff2/AbarLowFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: AbarLowFaNum;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('woff2/AbarLowFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: AbarLowFaNum;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('woff2/AbarLowFaNum-ExtraBold.woff2') format('woff2'); 
}

@font-face {
	font-family: AbarLowFaNum;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('woff2/AbarLowFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: AbarMidFaNum;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('woff2/AbarMidFaNum-Regular.woff2') format('woff2');		 	 
}

@font-face {
	font-family: AbarMidFaNum;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('woff2/AbarMidFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: AbarMidFaNum;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('woff2/AbarMidFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: AbarMidFaNum;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('woff2/AbarMidFaNum-ExtraBold.woff2') format('woff2'); 
}

@font-face {
	font-family: AbarMidFaNum;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('woff2/AbarMidFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: AbarHighFaNum;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('woff2/AbarHighFaNum-Regular.woff2') format('woff2');		 	 
}

@font-face {
	font-family: AbarHighFaNum;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('woff2/AbarHighFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: AbarHighFaNum;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('woff2/AbarHighFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: AbarHighFaNum;
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('woff2/AbarHighFaNum-ExtraBold.woff2') format('woff2'); 
}

@font-face {
	font-family: AbarHighFaNum;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('woff2/AbarHighFaNum-Black.woff2') format('woff2');		 
}

/* IranSansDN Font */
@font-face {
	font-family: IranSansDN;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('iransansdn.woff2') format('woff2');
}
